<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}

    <p>{{welcomeMessage}}</p>
    <p>{{screamIt "Grite"}}</p>

    {{> footer}}
  </body>

</html>
